/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Font                */
/* ------------------- */

@font-face {
  font-family: Hanken Grotesk;
  src: url('../../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

html {
  font-family: var(--font-family), sans-serif;
}

/* ------------------- */
/* Variables           */
/* ------------------- */

:root {
  /* Typography */
  --font-family: 'Hanken Grotesk';

  --font-weight-eb: 800;
  --font-weight-b: 700;
  --font-weight-m: 500;

  --font-size-72: 4.5rem;
  --font-size-56: 3.5rem;
  --font-size-32: 2rem;
  --font-size-24: 1.5rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;

  --line-height-100: 1;
  --line-height-130: 1.3;

  --font-preset-1: var(--font-weight-eb)
    var(--font-size-72)/var(--line-height-100) var(--font-family);
  --font-preset-2: var(--font-weight-eb)
    var(--font-size-56)/var(--line-height-100) var(--font-family);
  --font-preset-3: var(--font-weight-b)
    var(--font-size-32)/var(--line-height-130) var(--font-family);
  --font-preset-4: var(--font-weight-b)
    var(--font-size-24)/var(--line-height-130) var(--font-family);
  --font-preset-5-b: var(--font-weight-b)
    var(--font-size-18)/var(--line-height-130) var(--font-family);
  --font-preset-5-m: var(--font-weight-m)
    var(--font-size-18)/var(--line-height-130) var(--font-family);
  --font-preset-6-b: var(--font-weight-b)
    var(--font-size-16)/var(--line-height-130) var(--font-family);
  --font-preset-6-m: var(--font-weight-m)
    var(--font-size-16)/var(--line-height-130) var(--font-family);
}
